.vp-doc h2{
  border-top: 0px;
  margin: 20px 0 16px;
}

.dark .VPContent{
  background-color: #0a0a0b;
  background-image: url('../image/grid.svg');
}


.dark {
    --vp-c-bg: rgb(10, 10, 11);
}

.VPImage {
  filter: drop-shadow(100px 100px 300px #fafafc);
  width: 600px !important;
}

